div#principal{
	margin-left: 20px;
	margin-top: -7px;
	width: 1250px;
	height: 200px;
	border-radius: 6px;
	border: 2px solid black;
	box-shadow: 53px solid black;
	position: relative;
	padding: 20px;
	background-color: white;
}

header#cabecalho figure.dog1{
	position: absolute;
	top: 130px;
	left: 185px;
}

header#cabecalho figure.home{
	position: absolute;
	top: 50px;
	left: 480px;
}


header#cabecalho figure.pastor{
	position: absolute;
	top: 60px;
	left: 870px;
	
}

header#cabecalho figure.casinha img{
	position:absolute;
	display: block;
	width:10%;
	left: 425px;
	top: 111px;
}


header#cabecalho nav#menu{
	position: absolute;
	display: block;
	left: 385px;
	top: 216px;
	text-transform: uppercase;
}
header#cabecalho nav#menu li{
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 1px 3px babyblue;
	background: black;
	padding: 8px;
	margin: 8px;
}

header#cabecalho nav#menu li:hover{
	background-color: #f6b11c;
}

header#cabecalho nav#menu a:hover{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}
header#cabecalho nav#menu a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.cadastro{
background-color: #dddd;
border-radius: 8px;
border: 2px solid rgba(0,0,0,0.3);
box-shadow: 5px white;
width: 80%;
float: center;
padding-bottom: 50px;
position: absolute;
left: 132px;
top: 330px;
}

fieldset{
	padding: 5px;
	margin-left: 85px;
	align: center;
	border: 0;
}

input{
	text-align: center;
	border: solid 1px black;
	font-size: 15px;
	padding: 6px;
}

#titulo, #titulo2{
	position: relative;
	color: orange;
	background-color: #A9A9A9;
	font-size: 40px;
	text-shadow: 3px 0.5px 0px black;
	text-align: center;
	margin-bottom: 0px;
}
#subtitulo, #subtitulo2{
	font-family: sans-serif;
	margin-top: 0px;
	position: relative;
	color: white;
	font-size: 30px;
	text-shadow: 1px 3px black;
	background-color: #274360;
	text-align: center;	
}


input, textarea, button, .campotext textarea{
	border-radius: 5px;
	font-family: Arial, sans-serif;
	font-size: 16.5px;
}

.campo {
	margin-bottom: 1em;

}
.campo label {
	font-family: arial;
	margin-bottom: 0.2em;
	margin-left: 55px;
	color: #black;
	text-shadow: 1px 1px 1px #dddddd;
	display: block;
	font-size: 18px;
}
fieldset.grupo .campo{
		position: relative;
		float: left;
		margin-right: 1em;
		left: -28px;
}

.campo input[type="text"], .campo input[type="email"],.campo textarea{
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
	display: block;
}

.campo input:focus, .campotext textarea:focus, .campo textarea:focus{
	background: #E0E0F8;
}
.botao {
	font-size: 1.2em;
	background: #42426F;
	border: 1px solid black;
	margin-bottom: 5px;
	color: #ffffff;
	padding: 0.3em 0.6em;
	box-shadow: 2px 3px 5px #ffffff;
	text-shadow: 1px 1px 1px black;
	position: absolute;
	top: 95%;
	left: 50.5%;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

.botao:hover{
	background-color: #21ABCD;
	border: 1.5px solid black;
	text-shadow: 2px 2px 2px black;
	color: white;
}
textarea{
	height: 70px;
	font-family: sans-serif;
	font-size: 15px;
	padding-left: 20px;
}

fieldset.grupo2 .campo{
		float: left;
		margin-right: 1em;
}
fieldset.grupo2{
		position: relative;
		display:block;
		left: 40px;
		margin-right: 80px;
		border-radius: 6px;
}
.consulta{

background-color: #A9A9A9;
border-radius: 8px;
border: 2px solid black;
box-shadow: 5px white;
width: 540px;
float: center;
position: relative;
left: 370px;
top: 130px;
}
.consulta input{
	position: relative;
	left: 0px;
	width: 430px;
}
.consulta select{
	position: relative;
	left: 464px;
	font-size: 12px;
	font-weight: bold;
	width: 72px;
	border-radius: 3px;
	border: 1px solid black;
	height: 33.3px;
	top: -42px;
	background-color: white;
}

.consulta select *{
	font-size: 15px;
	color: black;
}
.camp input {
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	left: -48px;
	margin-left: 12px;
}

.fas {
	font-size: 25.6px;
	padding: 2px;
	position: relative;
	background-color: white;
	border: 1px solid black;
	left: 9.3px;
	top: 3.4px;
	border-radius: 3px;
}

.search {
	position:relative;
	top: 25px;
}

.results{
background-color: white;
border-radius: 8px;
border: 2px solid rgba(0,0,0,0.2);
box-shadow: 5px white;
width: 540px;
position: relative;
left: 445px;
top: 490px;
}
.results a{
	text-decoration: None;
}
.results li {
	display: inline-block;
	padding-left: 15px;
	margin: 5px;
	position: relative;
	left: -30px;
	font-size: 17px;
	text-decoration: None;
}
table#cliente{
	position: relative;
	left: 212px;
	text-align: center;
}
table#animal{
	position: relative;
	left: 400px;
	text-align: center;
}
table th{
	text-align: center;
	background-color: #2E2E2E;
	color: white;
}
table tr{
	background-color: white;
}

div.campotext {
	position: relative;
	width: 50%;
	height: 100px;
	display: block;
	top: -5px;
	left: 240px;
}
div.campotext textarea{
	border: 2px solid black;
	width: 100%;
}
	
.campotext label{
	font-family: arial;
	margin-bottom: 0.2em;
	margin-left: 110px;
	color: #black;
	text-shadow: 1px 1px 1px #dddddd;
	display: block;
	font-size: 18px;
}

/*Tentando colocar uma div para tampar o preenchimento e alteração no template de search. */
.block {
	display: block;
	background-color: red;
	width: 50px;
	heigth: 50px;
 }
