{% extends 'base.html' %}

{% block title %}Home {% endblock %}

{% block content %}
	<div class="consulta">
	<h1 id="titulo" style="background-color: #274360;color: white;margin-top: 0px;border-radius: 5px;border: 1px solid black;"> Digite os dados do cliente à ser consultado:<h1>
		<form method="GET">
		{% csrf_token %}
		<div class="search">
			<i class="fas fa-search"></i>
			<input type="text" name="search" id="search" placeholder="Digite o valor a ser consultado">
			<select name="select">
				  <option value="nome">Nome</option>
				  <option value="telefone" selected>Telefone</option>
				  <option value="email">E-mail</option>
				</select>
			<input type="submit" value="Pesquisar" style="display: None;">
		</div>
	</div>
	{% if consulta %}
	<div class="results">
		<hr>
		{% for valor in consulta %}
		<ul type="None">
			<li><a href="/search/{{valor.id}}">Telefone: {{valor.telefone}}</a></li>
			<li><a href="/search/{{valor.id}}">Nome: {{valor.nome}}</a></li>
		</ul>
		<hr>
		{% endfor %}
	</div>
	{% endif %}
{% endblock %}
