{% extends 'base.html' %}
{% block title %}Consulta de Clientes {% endblock %}



{% block content %}
<div class="block">
<div class="cadastro">
<!--<i class="fas fa-search"></i> -->
<h1 id="titulo">Dados cadastrais do cliente:</h1>
<h2 id="subtitulo">{{consulta.nome}}</h2>
<hr>
<br>
<form action="" method="post">
	{% csrf_token %}
		<fieldset class="grupo">
			<div class="campo">
				<label for="nome"><strong>Nome</strong></label>
				{{form.nome}}
			</div>
			
			<div class="campo">
				<label for="nascimento"><strong>Nascimento</strong></label>
				{{form.nascimento}}
			</div>
			
			<div class="campo">
				<label for="email"><strong>Email</strong></label>
				{{form.email}}
			</div>
			<div class="campo">
				<label for="telefone"><strong>Telefone</strong></label>
				{{form.telefone}}
			</div>
			<div class="campo">
				<label for="local"><strong>Endereço</strong></label>
				{{form.local}}
			</div>
			<div class="campo">
				<label for="numero"><strong>Número</strong></label>
				{{form.numero}}
				
			</div>
			
			<div class="campo">
				<label for="bairro"><strong>Bairro</strong></label>
				{{form.bairro}}	
			</div>
			
			<div class="campo">
				<label for="CEP"><strong>CEP</strong></label>
				{{form.cep}}
			</div> 
		</fieldset>
			<div class="campotext">
				<br>
				<label><strong>Deixe observações caso desejar:</strong></label>
				{{form.obs}}
			</div>
			<br>
			<br>
			<hr>
			<h1 id="titulo2" style="">Dados do animal de estimação</h1>
			<h2 id="subtitulo">{{form.especie.value}}</h2>
			<br>
			<br>
			<fieldset class="grupo2">
				<div class="campo">
					<label for="especie" style="background-color: orange; border-radius: 5px;"><strong>&nbsp; &nbsp; &nbsp;Espécie do animal</strong></label>
						<label for="cachorro">
							<strong>
							{{form.especie}}
							</strong>
						</label>
				</div>
			<div class="campo">
				<label for="raca" style="background-color: orange;padding: 1px;margin:1px;text-align: center;border-radius: 5px;color: black;"><strong>Raça</strong></label>
				{{form.raca}}
			</div>
			<div class="campo">
				<label for="porte" style="background-color: orange;margin:0px;text-align: center;border-radius: 5px;color: black;"><strong>&nbsp;&nbsp;&nbsp;Porte</strong></label>
				<strong>
				{{form.porte}}
				</strong>
				</label>
			</div>			
	</fieldset>
</form>
</div>
</div>

{% endblock %}