{% extends 'base.html' %}
{% block title %} Consultar Clientes {% endblock %}



{% block content %}

<div class="cadastro">
<!--<i class="fas fa-plus"></i> Adicionar Clientes-->
<h1 id="titulo"> Consulta de clientes</h1>
<h3 id="subtitulo">Edite os dados do cliente caso desejar</h3>
<h3 id="subtitulo">Dados do cliente</h3>
		<table border=5 id="cliente">
	<col>
	<tr>
		<th>Nome</th>
		<th>E-mail</th>
		<th>Telefone</th>
		<th>Nascimento</th>
	<tr>
	<col>
	<tr>
		<td>{{consulta.nome}}</td>
		<td>{{consulta.email}}</td>
		<td>{{consulta.telefone}}</td>
		<td>{{consulta.nascimento}}</td>
	</tr>
	<tr>
		<th>CEP</th>
		<th>Bairro</th>		
		<th>Endereço</th>
		<th>Número</th>	
	</tr>
	<tr>
		<td>{{consulta.cep}}</td>
		<td>{{consulta.bairro}}</td>		
		<td>{{consulta.local}}</td>
		<td>{{consulta.numero}}</td>
	</tr>
	</table>
	{% if consulta.especie %}
	<hr>
	<h2 id="subtitulo">Dados do Animal</h2>
	<table border=5 id="animal">
		<tr>
			<th>Espécie</th>
			<th>Raça</th>
			<th>porte</th>
			
		</tr>
		<tr>
			<td>{{consulta.especie}}</td>
			<td>{{consulta.raca}}</td>
			<td>{{consulta.porte}}</td>
		</tr>
	</table>
	{% endif %}
</div>

{% endblock %}